/* This style sheet is only used for styling the demos it is not requried for MapIt */
body {font-family: 'Trebuchet MS', verdana, arial, sans-serif;  }
h2 	{margin: 0px 0px 0px 3px; }
*:focus { outline: 0 none; }
a {color:#000;}
a:hover {color:#000;}
a, a:link, a:visited, a:hover, a:focus, a:active {
	outline:0 none;
	border-style:none;
	noFocusLine: expression(this.onFocus=this.blur());
}
div.content {padding:10px 50px; line-height:24px; width:800px; margin:auto}
div.title {
	padding:5px 10px 5px 10px;
	margin:0px 0px 10px 0px;
	border:1px solid silver;
	background-color:#fff;
	border-radius:5px;
	box-shadow: 8px 8px 5px #888;
}
td.title-links {white-space:nowrap;font-size:16px;text-align:center;}

div.header {padding:8px 0px 8px 4px; font-size:24px ;	margin:0px 0px 5px 0px;}
div.footer-credit {font-size:0.8em; color:Gray}
div.code-block {background-color:#dfdfdf; padding:8px;border-radius: 15px;}
span.tag-replace {color:#1A387E; font-weight:bold;text-decoration:underline;}
div.sample-info {text-align:center; font-size:16px; line-height:28px;}
.small-font {font-size:12px}
span#mapit-proversion{color:#406747}
span#mapit-liteversion{color:maroon}
span#mapit-webversion{color:#2E55B7}
span.mapit-compression {font-size:14px}
.css-overview {
    vertical-align:top;
    padding:15px;
    padding-bottom:2px;
    border-radius:15px;
    border:1px solid silver;
    font-size:0.9em;
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 500%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 500%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 500%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(5, #C4C4C4));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 500%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 500%);
}

/*Theme Page*/
div.theme-switch {text-align:center; font-size:16px; background-color:#F8F8F8; border:1px solid silver; border-radius:5px; margin:20px 0px 8px 0px; }
select#theme {font-size:16px; margin-bottom:4px}
/* Index Page */
div.sales-text { font-size:22px; font-weight:bold;   text-align:center; color:#555}
div.demo-links {border:1px solid silver; border-radius:5px;}
div.demo-links a {text-decoration: underline}
div.demo-links  table td {padding: 6px}

/*LIGHT BOX */
#mapit-lightbox-shadow {
    background:#000;
    opacity:0.8;
    filter:alpha(opacity=80);
    position:absolute;
    top:0px;
    left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;
}
#mapit-lightbox-panel {
	display:none;
	position:absolute;
	width:100%;
	background:#FFFFFF;
	padding:10px 15px 10px 15px;
	border:2px solid #222;
	z-index:1001;
	-moz-box-shadow: 10px 10px 5px #111;
    -webkit-box-shadow: 10px 10px 5px #111;
    box-shadow: 10px 10px 5px #111;
    border-radius:5px;
}

.jumbotron, .gray-mix{
	border-radius: 5px; text-align: center;	padding:10px; margin-top:-10px;
	color:#000; text-shadow: #dfdfdf 0.1em 0.1em 0.2em; font-family: 'Ropa Sans', 'sans-serif';
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
/* Custom page header */
.header h3 {padding-bottom: 19px; margin-top: 0; margin-bottom: 0; line-height: 40px;}