
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');


/* This style sheet is only used for styling the demos it is not required for MapIt */
body {font-family: 'Trebuchet MS', verdana, arial, sans-serif; max-width:800px; margin: auto; padding:0 20px 0 20px  }
*:focus { outline: 0 none; }
a {color:#000;}
a:hover {color:#444;}
a, a:link, a:visited, a:hover, a:focus, a:active {outline:0 none; border-style:none;}
div.title {
	padding:5px 10px 5px 10px;
	margin:20px 0px 10px 0px;
	border:1px solid silver;
	background-color:#fff;
	border-radius:5px;
	box-shadow:2px 6px 8px #d4d3d3;
}
td.title-links {white-space:nowrap;font-size:16px;text-align:center;}

div.header {padding:8px 0px 8px 4px; font-size:24px ;	margin:0px 0px 5px 0px;}
div.footer-credit {font-size:0.8em; color:Gray}
div.code-block {background-color:#dfdfdf; padding:8px;border-radius: 15px;}
span.tag-replace {color:#1A387E; font-weight:bold;text-decoration:underline;}
div.sample-info {text-align:center; font-size:16px; line-height:28px;}
.small-font {font-size:12px}
span#mapit-proversion{color:#406747}
span#mapit-liteversion{color:maroon}
span#mapit-webversion{color:#2E55B7}
span.mapit-compression {font-size:14px}
.css-overview {
    vertical-align:top;
    padding:15px;
    padding-bottom:2px;
    border-radius:15px;
    border:1px solid silver;
    font-size:0.9em;
    background-image: linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 500%);
}

/*LIGHT BOX */
#mapit-lightbox-shadow {
    background:#000;
    opacity:0.8;
    filter:alpha(opacity=80);
    position:absolute;
    top:0px;
    left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;
}
#mapit-lightbox-panel {
	display:none;
	position:absolute;
	width:100%;
	background:#FFFFFF;
	padding:10px 15px 10px 15px;
	border:2px solid #222;
	z-index:1001;
	-moz-box-shadow: 10px 10px 5px #111;
    -webkit-box-shadow: 10px 10px 5px #111;
    box-shadow: 10px 10px 5px #111;
    border-radius:5px;
}

/* Custom page header */
.header h3 {padding-bottom: 19px; margin-top: 0; margin-bottom: 0; line-height: 40px;}
.header img  { height:25px; margin-top:-5px}
.header a.logo-info {color:#000 !important; font-weight:bold; text-decoration: none;}
.header a.git {text-decoration: none; color:#999; font-weight: normal;}
.header a.git:hover {color:#777}

.jumbotron {
	text-align: center;
	padding:10px 0 1px 0;
	color:#fff; text-shadow: #222 0.1em 0.1em 0.2em; font-family: 'Ropa Sans', 'sans-serif';
    background: linear-gradient(-45deg, #8a9fce, #411fb2, #5e136e);
    background-size: 400% 400%;
    animation: background-gradient-animator 25s ease infinite;
}

@keyframes background-gradient-animator {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}